extends layout
block content
    main.py-5(style="background-image: url(http://alexandcammy.com/wp-content/uploads/2019/04/bettydrew-54.jpg);text-align:center;background-size:cover;background-position:center;background-repeat: no-repeat;margin-top: 20px;height:100%;")
        h1 User Profile for: #{user.name}
        p Address: #{user.address}
        p Email Id: #{user.emailid}
        p Contact: #{user.contact}
        p Cake : #{user.cakeid}
        p Flower: #{user.flowersid}
        p Decorations: #{user.decorationsid}
        p Location : #{user.venuesid}